## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/natnael/Documents/World_Weather_Analysis/weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.59,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,4,Damietta,EG,80.49,clear sky,31.4165,31.8133,SULIMAN INN
2,6,Banda Aceh,ID,78.87,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
3,10,Barcelos,PT,72.91,clear sky,41.5388,-8.6151,Hotel Restaurante Bagoeira
4,11,Sao Filipe,CV,77.41,broken clouds,14.8961,-24.4956,Hotel Xaguate

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
# 4b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#marker_layer=gmaps.marker_layer(locations= "Gayeri", "Kisangani", "Mogadishu", "Jinka", info_box_content=hotel_info)
#https://maps.googleapis.com/maps/api/place/nearbysearch/json
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Grants"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Grants"]
vacation_stop1 =vacation_df.loc[vacation_df["City"]=="Waynesville"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Pacific Grove"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Venice"]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
55,107,Grants,US,89.83,clear sky,35.1473,-107.8514,"Motel 6 Grants, NM"

In [7]:
(vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])

(36.6177, -121.9166)

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,107,Grants,US,89.83,clear sky,35.1473,-107.8514,"Motel 6 Grants, NM"
1,107,Grants,US,89.83,clear sky,35.1473,-107.8514,"Motel 6 Grants, NM"
2,444,Waynesville,US,86.74,broken clouds,35.4887,-82.9887,Best Western Smoky Mountain Inn
3,417,Pacific Grove,US,89.55,scattered clouds,36.6177,-121.9166,Lovers Point Inn
4,59,Venice,US,89.98,drizzle,27.0998,-82.4543,A Beach Retreat On Casey Key

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)


# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))